In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Book1.csv")

In [3]:
data.head()

   SL.no     NAMe  Marks   Subject  Gender
0      1   Shruti     90  Computer  Female
1      2  Pallavi     93   English  Female
2      3  Sulagna     87   English  Female
3      4  Toushik     56  Computer    Male
4      5   Anupam     89   History    Male

In [4]:
mean_data = data['Marks'].mean()

In [5]:
print(mean_data)

83.7

In [6]:
mode_data = data['Marks'].mode()

In [7]:
print(mode_data)

0    87
dtype: int64