In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Book1.csv")

In [3]:
data.tail()

   SL.no        NAMe  Marks    Subject  Gender
5      6        Ayan     98  Geography    Male
6      7    Swagatam     78      Maths    Male
7      8      Vishal     87   Computer    Male
8      9  Siddharath     92      Maths    Male
9     10       Tania     67    History  Female

In [4]:
median_data = data['Marks'].median()

In [5]:
print(median_data)

88.0

In [7]:
Q1 = data['Marks'].quantile(0.25)
Q2 = data['Marks'].quantile(0.5)
Q3 = data['Marks'].quantile(0.75)
Q4 = data['Marks'].quantile(1)

In [8]:
print("First Quantile",Q1)
print("Second Quantile",Q2)
print("Third Quantile",Q3)
print("Fourth Quantile",Q4)

First Quantile 80.25
Second Quantile 88.0
Third Quantile 92.75
Fourth Quantile 900.0