In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Book1.csv')

In [3]:
data.head()

   SL.no     NAMe  Marks   Subject  Gender
0      1   Shruti    900  Computer  Female
1      2  Pallavi     93   English  Female
2      3  Sulagna     87   English  Female
3      4  Toushik     56  Computer    Male
4      5   Anupam     89   History    Male

In [4]:
max_data = data['Marks'].max()

In [5]:
min_data = data['Marks'].min()

In [6]:
range = max_data - min_data

In [7]:
print(range)

844

In [8]:
Q1 = data['Marks'].quantile(0.25)

In [10]:
Q3 = data['Marks'].quantile(0.75)

In [11]:
IQR = Q3 - Q1
print(IQR)

12.5