In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Book1.csv')

In [3]:
data.head()

   SL.no     NAMe  Marks   Subject  Gender
0      1   Shruti    900  Computer  Female
1      2  Pallavi     93   English  Female
2      3  Sulagna     87   English  Female
3      4  Toushik     56  Computer    Male
4      5   Anupam     89   History    Male

In [4]:
mean = data['Marks'].mean()
mean

164.7

In [5]:
diff = data['Marks'] - mean

In [6]:
sqr_diff = diff ** 2

In [7]:
variance = sqr_diff.mean()

In [8]:
print(variance)

60222.41000000001

In [9]:
std_dev = variance ** (1/2)

In [10]:
print(std_dev)

245.40254684904966

In [11]:
#using function
std = data['Marks'].std(ddof = 0)
std

245.40254684904966